* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  box-align: center;
  margin-top: 110px;
  margin-left: 110px;
  padding: 2px;
}
h2{
  padding-left: 200px;
  color: gray;
  margin-left: 110px;
}
.wrapper {
  width: 90%;
  margin: auto;
  float: none;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.calc-screen {
  margin-left: 100px;
  width: 55%;
  padding: 10px;
}
#numbers{
  
  margin-left: 100px;
  float: none;
  padding: 10px;
}


button {
  padding: 10px;
  width: 15%;
  color: rgb(110, 108, 112);
  padding: 10px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
}




